@media screen and (max-width: 1199px) {
  .header {
    height: 83px;
  }
  .header .inner {
    align-items: center;
    padding: 0 20px;
  }
  .visual {
    height: 548px;
  }
  .visu-txt {
    position: static;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .section {
    padding: 100px 20px;
  }
  .sec01-list .img-wrap {
    height: 220px;
  }

  .sec03 .inner {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .sec03 .txt-wrap {
    text-align: center;
    margin-bottom: 140px;
  }
  .sec03 {
    padding: 130px 0;
  }
  .sec02 .img-wrap,
  .sec04 .img-wrap {
    width: 430px;
    height: 430px;
  }
  .footer .inner {
    padding: 0 20px;
  }
}
@media screen and (max-width: 899px) {
  .nav-btn {
    display: block;
  }
  .header {
    height: 57px;
  }
  .header h1 {
    font-size: 2.3rem;
  }
  .nav-btn {
    display: block;
    width: 28px;
    height: 22px;
    /* background-color: #eee; */
    position: relative;
    cursor: pointer;
  }
  .header .nav {
    z-index: 3;
  }
  .header .nav li {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .header .nav-btn span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: gray;
    transition: all 0.5s ease-out;
  }
  .header .nav-btn span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .header .nav-btn span:nth-child(3) {
    bottom: 0px;
  }
  .header.Active .nav-btn span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
  }
  .header.Active .nav-btn span:nth-child(2) {
    transform: translateX(0%);
    opacity: 0;
  }
  .header.Active .nav-btn span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
  }

  .header .nav {
    position: fixed;
    top: 57px;
    z-index: 2;
    width: 100%;
    flex-direction: column;
    height: calc(100% - 57px);
    background-color: #eee;
    right: -100%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;
  }
  .header.Active .nav {
    right: 0;
  }
  .header .nav li a {
    font-size: 4rem;
    border-bottom: 1px solid #ccc;
    padding: 0 30px;
  }
  /* visual */
  .visual {
    height: calc(100vh - 57px);
  }
  .visu-txt {
    justify-content: flex-end;
    padding-bottom: 80px;
  }
  .sec01 .txt-wrap {
    margin-bottom: 50px;
  }
  .sec01-list {
    flex-wrap: wrap;
    max-width: 480px;
    margin: auto;
  }
  .sec01-list li {
    width: calc(100% / 2 - 8px);
    height: auto;
    margin-bottom: 50px;
  }
  .sec01 .cont-txt {
    margin-top: 15px;
  }
  /* section 02 */
  .sec02 .inner,
  .sec04 .inner {
    flex-direction: column;
  }
  .sec02 .img-wrap,
  .sec04 .img-wrap {
    width: 80vw;
    height: 80vw;
    margin: auto;
    order: 1;
    margin-top: 45px;
  }
  .sec02 .txt-wrap,
  .sec04 .txt-wrap {
    width: 80vw;
    margin: auto;
  }
  /* section04 */
  .sec03 .txt-wrap {
    margin-bottom: 45px;
  }
  .sec03-list {
    width: 90vw;
  }
  .sec03-list {
    justify-content: space-around;
  }
  .sec03-list li {
    height: 400px;
    padding: 40px 20px 20px;
  }
  /* section5 */
  .sec5-list {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .sec5-list li {
    margin-bottom: 45px;
  }
  /* footer */
  .footer {
    padding: 30px 0;
  }
  .footer .nav {
    display: none;
  }
  .footer .inner {
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 599px) {
  h2.tit-main {
    font-size: 4.2rem;
  }
  p.sub-txt {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
  .sec01-list .img-wrap {
    height: 40vw;
  }
  .section {
    padding: 80px 15px;
  }
  .sec03-list li {
    width: 80vw;
  }
  .sec03-list {
    justify-content: center;
  }
  .sec03-list li:nth-child(4) {
    margin-top: 0;
  }
  .sec03-list li:nth-child(3) {
    margin-bottom: 50px;
  }
  .sec03-list li:nth-child(1) {
    margin-top: 0;
  }
  .sec03 .img-wrap {
    height: 50vw;
    min-height: 200px;
  }
  .sec03-list li {
    width: 90vw;
  }
  .sec02 .img-wrap,
  .sec04 .img-wrap {
    width: 90vw;
  }
  .sec02 .txt-wrap,
  .sec04 .txt-wrap {
    width: 90vw;
  }
}
