* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
html,
body {
  font-size: 10px;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(73, 73, 73);
}

.inner {
  position: relative;
  max-width: 1200px;
  margin: auto;
}
h1 {
  font-size: 4.2rem;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 4.3rem;
}
.list-txt {
  font-size: 1.7rem;
  color: #818181;
}
.nav li a {
  font-size: 2rem;
  font-weight: 200;
}

h2.tit-big {
  font-size: 6.2rem;
  font-weight: 500;
}
h2.tit-small {
  font-size: 4.1rem;
}
h2.tit-medium {
  font-size: 5.1rem;
}
p.sub-txt {
  font-size: 1.9rem;
  font-weight: 300;
}
p.sec-txt {
  font-size: 2.3rem;
  font-weight: 200;
  margin: 40px 0;
}

a.cont-btn {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  background-color: #eee;
  width: 155px;
  font-size: 1.6rem;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 500;
  border-radius: 30px;
}
a.cont-btn:after {
  position: absolute;
  display: block;
  content: "";
  border-top: 4px solid transparent;
  border-left: 6px solid #000;
  border-bottom: 4px solid transparent;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.txt-center {
  text-align: center;
}
.cont-txt {
  font-size: 1.7rem;
  font-weight: 400;
  color: #818181;
}

.copy {
  font-size: 1.7rem;
  font-weight: 200;
}
